@import url(https://fonts.googleapis.com/css?family=Peralta|Poiret+One|Coming+Soon|Satisfy|Playball|Cookie|Audiowide|Cherry+Cream+Soda|Lobster|Lobster+Two|Great+Vibes|Courgette);
a, img {
	border:none;
	text-decoration: none;
}
h1, h2, h3, h4, h5, p {
	margin: 0px;
	padding: 0px;
}
body {
	font: 100% Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	text-align: center; 
	color: #F8FB6F !important;
}
h3 { 
	padding: 20px;
}
img.bg {
	/* Set rules to fill background */
	min-height: 100%;
	min-width: 1024px;
	
	/* Set up proportionate scaling */
	width: 100%;
	height: auto;
	
	/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;
}
.fieldError{
    background-color: #f8bcbc;
}
.fieldValid{
    background-color: #ffffff;
}

#header{
	position: relative;
	margin: 0px auto;
	padding: 0px;
	box-shadow: 0px 3px 15px #fff;
	width: 760px;
	color: #FFF;
}
#navigation{
	font-family: 'Great Vibes', cursive;
	position: relative;
	border-radius: 0px 0px 10px 10px;
	box-shadow: 0px 3px 15px #fff;
	width: 760px;
	margin: -3px auto 0px auto;
	padding: 10px 0px 10px 0px;
	background-color: #000;
}
#navigation a{
	color: #06C;
	text-shadow:#aaa 0 0 5px;
	font-size:20px;
	margin: 0px 20px;
}
#navigation a:hover{
	color: #FFFFFF;	
}
ul.menu {
	padding: 0px;
	margin: 0px;
}
ul.menu li {
	display:inline;
}
ul.menu li.current a  {
	color: #fff !important;
}


#container{
	position: relative;
	margin: 20px auto 10px auto;
	padding: 0px;
	width: 756px;
	min-height: 500px;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0px 0px 20px #fff;
	border: solid 2px #000;
	background-image: url(../images/bg_container.png);
	background-repeat: repeat;
}

.list_style{
	text-align: left;
	list-style-position: outside;
	list-style-image: url(../images/list_hat_15.png);
	list-style-type: none;
	margin-left: 40px;
	font-family: 'Coming Soon', cursive;
	font-weight:bold;
}
#container h1{
	color: #FF3300;
	margin: 10px 0px 20px 0px;
	font-family: 'Courgette', cursive;
	text-shadow: 2px 2px 2px #aaa;
	font-weight: bold;
	font-style: normal;
}
#container p{
	padding: 10px 20px;
	text-align: justify;
	text-indent: 30px;
	font-family: 'Coming Soon', cursive;
	font-weight:bold;
}
#footer p{
	padding: 10px 0px;
	background-color: #000;
	color: #FFF;
	text-align: center;
	font-size: 12px;
	text-shadow: 0px 0px 7px #666666;
	font-family: 'Cherry Cream Soda', cursive;
	font-weight: bold;
	font-style: normal;
	border-top: solid 1px #FFFFFF;
	text-indent: 0;
	margin: 0px;	
}
#footer a{
	text-shadow:0px 0px 7px #666666;
	color:#06C;
	font-size: 12px;
	font-weight: bold;
}
#footer p a:hover {
	text-decoration: underline !important;
	color: #FFF;
}

#seo{
	margin-top: 5px;
	display: block;
}

/* CONTACT */
#s_message table{
	border: 2px solid #000;	
}
#v_message{
	margin: -55px 0px 0px 0px;
	padding: 3px 20px;
	width: 220px;
	border: solid 1px #fff;
	font-size:18px;
	font-weight:bold;
	color:green;
	text-align:center;
	background-image: url(../images/buttons/green.png);
	background-repeat: repeat;
	border-radius: 5px;
}
#e_message{
	margin: -55px auto 0px auto;
	padding: 3px 20px;
	width: 350px;
	border: solid 1px #fff;
	font-size:18px;
	font-weight:bold;
	text-align:center;
	background-image: url(../images/buttons/orange.png);
	background-repeat: repeat;
	border-radius: 5px;
	color:red;	
}
#form{
	padding: 20px 35px 10px 15px;
	width:630px;
    color: #FFFFFF;
    text-align: left;
}

#form table tr td {
	padding: 0px 10px;

}
#form table tr td a{
    color: #fcefa1;

}
#form table tr td a:hover{
    color: gold;

}
#form table tr td p {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	font-weight: bold;
}

#form table tr td label {
    font-size: 13px;
}

#form table tr td input[type=text], input[type=date], input[type=time] {
	font-size: 14px;
	width: 180px;
    margin-bottom: 10px;
}

#form textarea {
	width: 383px;
	height:90px;
	resize:none; 
}
#showErrors {
    font-size: 14px;
    text-align: center;
    color: red;
    font-weight: bold;
}
#container #form #contact_right_box {
	position: absolute;
	width: 250px;
	margin: -100px 0px 0px 470px;
	text-align: right;
}
#container #form #contact_right_box p{
	text-align: right;
}
#tableStyle{
	width: 720px;
	border: 0px;
}
#td1TableStyle {
	width: 254px; 
	height: 342px;	
}
#td2TableStyle {
	width: 425px; 
	height: 342px;	
}

/*GALLERY*/
#gallery a{
	display:inline;
}#container #gallery table tr td {
	padding: 10px 10px 15px 0px;
}
#container #gallery table tr td a .widget_div img {
	border: 2px solid #FFF;
}
#container #form #contact_right_box p {
	margin: 8px 0px 0px 0px;
	padding: 0px;
}
#navigation h3{
	display: inline;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
}
